body {
  background: #FFD700;
  font-size: 14px;
  font-family: Verdana,sans-serif;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: #fff;
  border-right: 4px;
  padding: 16px;
  position: relative;
}

#question{
  margin-bottom: 16px;
  font-weight: bold;
}

#choices {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

#choices li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

#choices li:hover {
  background: #7FFFD4;
}

#choices li.correct {
  background: #0000FF;
  border-color: #1E90FF;
  color: #00FFFF;
  font-weight: bold;
}

#choices li.correct::after {
  content: "...正解！";
}

#choices li.wrong {
  background: #FF4500;
  border-color: #DC143C;
  color: #FFE4E1;
  font-weight: bold;
}

#choices li.wrong::after {
  content: "...残念！";
}

#btn {
  cursor: pointer;
  background: #6495ED;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 #4169E1;
}

#btn.disabled {
  background: #ccc;
  box-shadow: 0 4px #bbb;
  opacity: 0.7;
}
